.cart {
    width: 100%;
  }
  
  .card-img-cart {
    width: 200px;
    height: 200px;
  }
  
  .buttons-cart {
    margin-top: 20px;
    padding-bottom: 3%;
  }
  
  .cart-text {
    margin-bottom: 5px;
  }

  .cart-texts {
    text-align: left;
    padding-left: 5%;
  }
  
  .text-right {
    margin-top: 20px;
    text-align: right;
  }

  .total-price {
    padding-right: 5%;
  }

  @media (max-width: 500px) {
    .total-price {
        text-align: center;
    }

    .card-img-cart {
        width: 50%;
        height: 100%;
    }
  }