.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  .form-control-field {
    width: 800px;
    height: 40px;
    border-radius: 5px;
  }

  .form-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
  }

  .position {
    padding-top: 50px;
  }

  .area {
    height: 100px;
  }