.Forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Form {
    width: 18rem;
    padding: 20px;
    margin-bottom: 10%;
  }

  .title{
    white-space: nowrap;
    margin-bottom: 2rem;
  }