.Forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Form {
    width: 45%;
    padding: 20px;
    margin-bottom: 10%;
  }

  .title{
    white-space: nowrap;
    margin-bottom: 2rem;
  }

  @media(max-width: 780px) {
    .Form {
        width: 70%;
        padding: 20px;
        margin-bottom: 10%;
    }
  }
