.card-container-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.card-detail {
    height: 90%;
    width: 90%;
}

.images {
    padding-top: 5%;
    max-height: 40%;
    max-width: 50%;
}

.detail-texts {
    padding-top: 7%;
    text-align: left;
    padding-left: 50px;
}

.card-add-button-container{
    margin-top: 50px;
}

.button-add {
    width: 100%;
    height: auto;
}

.ratings {
    display: flex;
    text-align: left;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.star {
    padding-right: 5%;
}

.card-img-carousel {
    height: 100%;
    width: 100%;
}

@media (max-width: 550px) {
    .button-add {
        width: 200px;
        height: auto;
    }

    .detail-texts {
        font-size: small;
    }

    .card-image-carousel {
        display: none;
    }

    .images {
        display: none;
    }
}