.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .product-card {
    width: 20%;
    margin: 10px;
    margin-top: 50px;
    text-align: left;
  }
  
  .product-card .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .price{
    font-weight: bold;
    display: inline-block;
    width: 90px; 
  }

  .product-card .btn {
    width: 100%;
  }
  
  .product-container {
    position: relative;
  }
  
  .add-product-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    margin-right: 40px;
  }
  
  .brand {
    color: gray;
  }

  .card {
    position: relative; 
  }
  
  .card-button-container {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    padding: 10px;
    padding-bottom: 30px;
  }