.position-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    height: 100vh;
  }
  
  .LoginCard {
    margin-top: 70px;
    text-align: left;
    justify-content: center;
    width: 50%;
    height: 60%;
  }
  
  .title-login {
    padding-bottom: 25px;
  }

  @media (max-width: 900px) {
    .LoginCard {
      width: 70%;
      height: 50%;
    }
  }